/* navbar section */
.nav {
  width: 100vw;
  height: 6rem;
  padding: 0 4.8rem;
  background-color: #495057;
  color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sticky .nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 99;
  background-color: #495057;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  opacity: 0.9;
}

.brand {
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
}
.list-container {
  display: flex;
  align-items: center;
}
.nav-link {
  color: #dee2e6;
}
.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
ul {
  gap: 3.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li {
  font-size: 1.6rem;
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}
.btn-nav {
  width: 8rem;
  height: 3rem;
  border: none;
}
.btn-nav:hover {
  background-color: #5f3dc4;
}
.btn-menu-nav {
  width: 5rem;
  height: 3.5rem;
  display: none;
}

.menu-nav {
  width: 1.8rem;
}
/*log-in*/
.login-section {
  background-color: #dee2e6;
  margin: 20rem auto;
  padding: 5rem;
  max-width: 30rem;
  border-radius: 5rem;
  position: absolute;
  top: 5%;
  left: 25%;
  right: 25%;
  display: none;
  z-index: 999;
}

.log-in {
  max-width: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.btn-log-container {
  justify-self: center;
  margin-top: 2rem;
}

.btn-log {
  width: 9rem;
  height: 4rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.btn-log-2 {
  background-color: #e9ecef;
  color: #845ef7;
}

.btn-log-1:hover {
  background-color: #5f3dc4;
}

.btn-log-2:hover {
  background-color: #dee2e6;
}

/*Side Nav */
.side-container {
  position: relative;
  display: none;
}
.side-content {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0rem;
}
.side-ul {
  display: flex;
  flex-direction: column;
  color: #dee2e6;
  background-color: #495057;
  padding: 1.6rem;
  gap: 1.6rem;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.3s;
}
.side-li {
  text-align: left;
  font-size: 1.4rem;
}
.side-li:hover {
  text-decoration: underline;
}

/* Hero section */
.problem-1 {
  padding-top: 14rem;
}
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 5.4rem;
  max-width: 130rem;
  margin: 0rem auto;
}
.hero-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.6rem;
}
.hero-header {
  font-size: 5.8rem;
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: -0.2rem;
}
.hero-text {
  font-size: 2.2rem;
  line-height: 1.6;
}

.btn-hero:hover {
  background-color: #5f3dc4;
}

.btn-hero-link {
  color: white;
}
.btn-outline-hero {
  background-color: #e9ecef;
  width: 16rem;
  border: 0.1rem solid #5f3dc4;
  font-weight: bold;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.btn-outline-hero-link {
  color: #5f3dc4;
  letter-spacing: 0.05rem;
}
.btn-outline-hero:hover {
  border: none;
}

.hero-img {
  width: 100%;
}

/* Resume*/
.problem-2 {
  padding-top: 14rem;
}
.resume-container {
  max-width: 120rem;
  margin: 14rem auto;
  background-color: #dee2e6;
  border-top-left-radius: 11%;
  border-bottom-left-radius: 0.8%;
  border-top-right-radius: 0.8%;
  border-bottom-right-radius: 0.8%;
  box-shadow: 2.4rem 2.4rem 4.8rem rgba(0, 0, 0, 0.099);
}
.img-card-box {
  width: 70%;
  border-top-left-radius: 11%;
  border-top-right-radius: 11%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  border: none;
}
.resume-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 11%;
}
ul.early-life-list {
  list-style-type: circle;
}
li.early-life {
  font-size: 1.4rem;
}

.early-life-list {
  padding-top: 2.6rem;
  padding-bottom: 0;
  padding-left: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  font-weight: bold;
}

.resume-card-box {
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  border-top-left-radius: 0.7%;
  border-bottom-left-radius: 0.7%;
  border: none;
}
.resume-title {
  font-size: 6.4rem;
  padding-top: 2.4rem;
  text-align: center;
}
.resume-notes {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  gap: 4.8rem;
}
li.notes-txt {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

/*How section */
.how-container {
  max-width: 120rem;
  margin: 0 auto;
  height: auto;
  background-color: #495057;
  color: #dee2e6;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
}
.how-content-container {
  gap: 3rem;
}
.how-title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 0.1rem solid #dee2e6;
}
.how-img {
  width: 90%;
}
.how-text {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.6;
}
.btn-how {
  justify-self: center;
  background-color: #845ef7;
}
.btn-how:hover {
  background-color: #5f3dc4;
}
.how-link {
  color: #dee2e6;
  font-size: 1.6rem;
}

/*Courses */
.courses-container {
  max-width: 120rem;
  background-color: #dee2e6;
  margin: 9.6rem auto;
  padding: 3.2rem 5rem;
  gap: 4.8rem;
  border-radius: 0.5rem;
  box-shadow: 2.4rem 2.4rem 4.8rem rgba(0, 0, 0, 0.099);
}
.section-title {
  grid-column: 1/-1;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #495057;
}
.online-container {
  gap: 6.4rem;
}
.img-course {
  width: 100%;
  height: 100%;
}
.group-container {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #dee2e6;
  padding: 4rem 3rem;
  border-radius: 0.7rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.205);
}
.online-card-2 {
  background-color: #dee2e6;
  color: #495057;
}
.gp-logo {
  width: 4.8rem;
  stroke: #845ef7;
}
.gp-logo:hover {
  cursor: pointer;
}
.detail-title {
  font-size: 2.4rem;
  font-weight: bold;
}
.detail-text {
  line-height: 1.6;
  font-size: 1.4rem;
}
.btn-course {
  background-color: #845ef7;
  font-weight: bold;
}
.btn-course:hover {
  background-color: #5f3dc4;
}
.link-course {
  color: #dee2e6;
  font-size: 1.6rem;
}
.inperson-title {
  justify-self: right;
}
.inperson-container {
  gap: 6.4rem;
}
.inperson-img {
  width: 100%;
  height: 100%;
}

.ch:hover {
  cursor: pointer;
  background-color: #495057;
  color: #dee2e6;
  transition: 0.3s;
}

/* Book sction */
.book-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  row-gap: 8.4rem;
  column-gap: 4rem;
}
.book-title {
  grid-column: 1/-1;
  justify-self: center;
  font-size: 4.4rem;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.4rem;
  background-color: #495057;
  color: #dee2e6;
  padding: 2rem;
  border-radius: 5rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
  max-width: 40rem;
}
.book-card:hover {
  background-color: #e9ecef;
  color: #495057;
  transition: 0.3s;
}
.book-card-icon {
  width: 4.8rem;
  stroke: #845ef7;
}
.book-card-title {
  font-size: 2.4rem;
  font-weight: bold;
}
.book-card-text {
  font-size: 1.4rem;
  line-height: 1.6;
}
.book-card-btn {
  background-color: #845ef7;
  width: 12rem;
}
.book-card-link {
  color: #dee2e6;
  font-size: 1.8rem;
  font-weight: bold;
}
.book-card-btn:hover {
  background-color: #5f3dc4;
  text-decoration: underline;
}

/* Time Table */

.time-container {
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.time-title {
  margin: 2.4rem auto;
  font-size: 4.4rem;
}

table {
  border-collapse: collapse;
  background-color: #dee2e6;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 5.5rem;
  border: none;
}
thead th {
  background-color: #495057;
  color: #dee2e6;
}
thead th:nth-child(1) {
  border-top-left-radius: 5rem;
}
thead th:nth-child(7) {
  border-top-right-radius: 5rem;
}
th,
td {
  padding: 3rem;
}
tbody tr:nth-child(8) {
  border-bottom: none;
}
td:hover {
  background-color: #845ef7;
}

.time-card {
  max-width: 30rem;
  margin: 12rem auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dee2e6;
  padding: 2.4rem;
  gap: 3.8rem;
  border-radius: 5rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.time-logo {
  width: 4.8rem;
  stroke: #845ef7;
}
.time-card-title {
  font-size: 3.2rem;
}
.time-card-text {
  line-height: 1.6;
  font-size: 1.6rem;
}
.btn-time-card {
  width: 12rem;
}
.time-card-link {
  color: #dee2e6;
}
.btn-time-card:hover {
  background-color: #5f3dc4;
}
.time-card-link:hover {
  color: #ffffff;
}

/* student-comments 
.stu-container {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #e9ecef;
  margin: 0 auto;
  gap: 5rem;
}
.stu-title {
  font-size: 4.4rem;
  justify-self: center;
}

.stu-li {
  display: grid;
  text-decoration: none;
  grid-template-columns: 0.5fr 2fr;
  text-decoration: none;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.stu-content {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.1rem solid #495057;
  border-radius: 0.5rem;
  background-color: #dee2e6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
  padding: 2rem 5rem;
  gap: 5rem;
}
.stu-btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 4rem;
  border-radius: 50%;
  background-color: #dee2e6;
  justify-self: left;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.stu-btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 4rem;
  border-radius: 50%;
  background-color: #dee2e6;
  justify-self: right;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.stu-logo {
  width: 2rem;
  stroke: #845ef7;
}
.stu-img-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stu-img {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.stu-txt {
  padding-top: 0;
  font-size: 1.6rem;
  justify-self: left;
}
.stu-comment {
  font-size: 1.8rem;
  line-height: 1.6;
}
*/

.slider {
  position: relative;
  max-width: 120rem;
  height: 30rem;
  background-color: #dee2e6;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.overflow-fix {
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}
.part-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.part-right {
  width: 80%;
  padding-right: 2rem;
}
.silde-img {
  width: 70%;
  align-self: center;
  border-radius: 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.silde-txt {
  align-self: center;
  font-size: 1.4rem;
}
.block-txt {
  line-height: 1.6;
  font-size: 1.6rem;
}
.btn-slider {
  z-index: 10;
  position: absolute;
  width: 4rem;
  border-radius: 5rem;
  background-color: #845ef7;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253);
}
.stu-logo {
  width: 2rem;
  stroke: #dee2e6;
}

.btn-slider-left {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.btn-slider-right {
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.slide-2 {
  background-color: #495057;
  color: #dee2e6;
}
.slide-3 {
  background-color: #dee2e6;
}

/* CTA*/
.cta-container {
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 0;
  background-color: #495057;
  color: #dee2e6;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  padding: 5rem;
}
.cta-title {
  justify-self: center;
  font-size: 4.4rem;
}
.cta-form-container {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.form-title {
  grid-column: 1/-1;
  font-size: 2.4rem;
  font-weight: bold;
}
.cta-label-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: left;
  align-items: center;
  background-color: #dee2e6;
  color: #495057;
  padding: 4rem;
  border-radius: 5rem;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.479);
}

.cta-label {
  font-size: 2rem;
  font-weight: bold;
}
.cta-input {
  max-width: 20rem;
  height: 3rem;
  background-color: #495057;
  border: none;
  border-radius: 2rem;
}

input::placeholder {
  font-size: 1.2rem;
  padding-left: 2rem;
  color: #dee2e6;
}

.cta-img {
  justify-self: right;
  width: 95%;
}

/* Footer */
footer {
  width: 100vw;
  background-color: #495057;
  padding-top: 9.6rem;
  text-align: center;
}
.problem-3 {
  padding-bottom: 0;
}
.footer-container {
  border-top: 0.1rem solid #dee2e6;
  height: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}

.footer-txt {
  font-size: 1.8rem;
  color: #dee2e6;
}
